@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.container {
  min-height: 0.625rem;
  min-width: 0.625rem;
}

.containerImg {
  max-height: inherit;
}

.dot {
  height: 40px;
  width: 40px;
  z-index: 100;
}

.arrowsContainer {
  box-sizing: content-box;
}

.arrowLeft { display: none;}
.arrowRight { display: none;}

/* mio */
.letra{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding-bottom: 10px;
  font-size: 2rem;
}
.colorTexto{
  color: inherit;
  text-align: center;
  color:black;
}
.fueraScroll {
  overflow-x:hidden;
  display: flex;
  align-items: center;
}
/* Cetrar el shop the look */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1000;
  display:none;
}
.containerShop img{
  text-align: center;
  margin: 0;
  padding: 0;
}
.containerShop {
  text-align: center;
  margin: 0;
  padding: 0;
}
.imagenslider{
  width: 100%;
  margin:0; 
  padding: 0;
  max-height: 600px;
  object-fit: cover;
}